.transition-wrapper {
  width: 100%;
  height: 100%;
  position: relative;
}

.transition-element {
  position: absolute;
  width: 100%;
  height: 100%;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
}

.transition-hidden {
  opacity: 0;
  z-index: 0;
  transition: 0.5s;
}

.transition-visible {
  opacity: 1;
  transition: 1s;
  z-index: 1;
}
